<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
<title>Mechanical Keyboards!</title>

  </head>
  <body>


<!-- Modal -->
<div class="modal fade" id="cart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cart</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="show-cart table">
          
        </table>
        <div>Total price: $<span class="total-cart"></span></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <a href="Checkout" class="btn btn-primary">Checkout</a>
      </div>
    </div>
  </div>
</div>

<!--Navbar start -->
<nav class="navbar navbar-dark navbar-expand-md py-2 justify-content-between" style="background-color: #5e5b92;">
    <div class="container-fluid">

        <div class="navbar-collapse collapse dual-nav w-50 order-1 order-md-0">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link pl-0" href="Home">Home <span class="sr-only">Home</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="Products">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="FAQs">FAQs</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="Updates">Updates</a>
                </li>
            </ul>
        </div>
        <a href="/" class="navbar-brand mx-auto d-block text-center " style="color: rgb(255, 255, 255); transform: translateX(-50%);
        left: 50%; position: absolute;"><span class="mb-0 h3">Mechanical Keyboards</span></a>
            

  <div class="btn-group">

  <ul class="nav navbar-nav navbar-right">

      <!-- Right -->
    <form class="form-inline my- my-lg-0">         
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-dark my-2 my-sm-0" type="submit">Search</button>
    </form>
        </div>
        <!-- Shopping cart-->
         <button class="btn btn-secondary" type="button" data-toggle="modal" data-target="#cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i>(<span class="total-count"></span>)</button><div>
              </div>
           <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-nav">
            <span class="navbar-toggler-icon"></span>
            </button>
        <!-- end shopping cart -->
        
    </div>
</nav>

<!--Navbar end-->

<!-- page wrapper for top -->
<div style="background: url(/images/updatesCover.png); background-size: cover; height: 500px;" class="page-holder bg-cover">
  <div class="container py-3">
    <header class="text-center text-white py-5">
      <h1 class="display-4 font-weight-bold mb-5" style = "color: rgb(255, 255, 255); text-shadow: 2px 2px 4px #000000;"><br><br>UPDATES</h1>
      
    </header>
  </div>
</div>
<!-- end of page wrapper -->

<div class"container-fluid">
  
  <article class="content" style ="background-color: #36354d; color: white;">
    <div class="row">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
    <img src="best60.png" alt="bestmech" class="img-fluid">
    </div>
    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
      <br>
    <h2>The Best 60-percent keyboards out right now</h2>
    <h5>Choose whats right for you!</h5>
      <div class="text-left">
        <p>Read more here: <a href="https://www.engadget.com/best-60-percent-keyboards-160038272.html">engadget</a></p>
        </div>
      </div>
    </div>
</div>
</article>
  
 <article class="content" style ="background-color: #36354d; color: white;">
    <div class="row">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
    <img src="keycapsetNews.png" alt="keycaps" class="img-fluid">
    </div>
    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
    <h2>New Tolkien keycap sets!</h2>
    <h5>“Not all those who wander are lost.” — Bilbo Baggins</h5>
      <div class="text-left">
        <p>Read more here: <a href="https://the-gadgeteer.com/2021/11/15/these-tolkien-keycap-sets-turn-your-mechanical-keyboard-into-something-precious/">the gadgeteer</a></p>
        <p>Turn your mechanicalkeyboard into something precious...with these new keycap sets made for any of you Lord of the Rings fans out there.
          You can get these beauties from <a href="https://matt3o.com/">Matt3o.com.</a><br> The sets are compatiable with Cherry MX switches coming to a price
          of $100 per set.</p>
        </div>
      </div>
    </div>
</div>
</article>

 <article class="content" style ="background-color: #36354d; color: white;">
    <div class="row">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
    <img src="infinityWar.png" alt="marvelkeyset" class="img-fluid">
    </div>
    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
    <h2>Turn any battlestation into a battlefield</h2>
    <h5>Relive Infinity War on Your Keyboard</h5>
      <div class="text-left">
        <p>Read more here: <a href="https://drop.com/buy/drop-marvel-infinity-war-keycap-set">Drop</a></p>
        <p>Drop has partnered up with Marvel and released some amazing keycap sets including these ones. Although
          they do come at a hefty price of $130 for the entire set,<br> they are perfect for any of you
          ride or die marvel fans out there! </p>
        </div>
      </div>
    </div>
</div>
</article>

 <article class="content" style ="background-color: #36354d; color: white;">
    <div class="row">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
    <img src="700.png" alt="keyboard" class="img-fluid">
    </div>
    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
    <h2>$700 Spent on a Mechanical Keyboard?</h2>
    <h5>How the community relies on mostly group buys</h5>
      <div class="text-left">
        <p>Read more here: <a href="https://www.extremetech.com/extreme/328043-how-i-spent-700-building-a-life-aquatic-mechanical-keyboard">ExtremeTech</a></p>
        
        </div>
      </div>
    </div>
</div>
</article>


    </body>
  </html>